# --- Terraform ---
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.secrets*.tfvars
*.auto.tfvars.json

id_rsa
id_rsa.pub
*.pem
*.key
*.p12

.DS_Store
.vscode/
.idea/

*.tfplan
lambda/*.zip
